<% content_for :titulo do  %>
  Editar usuario
<% end %>
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.alert_message "Por favor solucione los siguientes problemas." %>

  <%= f.email_field :email, autofocus: true %>
  
  <%= f.static_control label: "Rol" do %>
  	<%= resource.rol.capitalize.gsub("_", " ") %>
  <% end %>
  
  <% unless current_usuario.administrador? || current_usuario.laboratorio.nil? %>
  	<% if current_usuario.jefe_laboratorio? %>
	  <%= f.static_control label: "Laboratorio" do %>
	  	<%= resource.laboratorio.nombre %>
	  <% end %>
	<% elsif current_usuario.jefe_departamento? %>
		<%= f.static_control label: "Departamento" do %>
		  	<%= resource.laboratorio.departamento.nombre %>
		<% end %>
	<% end %>
  <% end %>

  <%= f.password_field :password, autocomplete: "off", help: "Dejar en blanco si no se desea cambiar.", label: 'Contraseña nueva' %>

  <%= f.password_field :password_confirmation, autocomplete: "off", label: 'Confirmar contraseña' %>
  

  <%= f.password_field :current_password, autocomplete: "off", help: "Se necesita tu contraseña para confirmar los cambios.", label: "Contraseña actual" %>

  <%= f.submit "Actualizar", class: 'btn btn-primary center-block' %>
<% end %>

  <h3>Cancelar mi cuenta</h3>

  <%= button_to "Cancelar mi cuenta", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "¿Está seguro que desea darse de baja?. Esta acción no podrá deshacerse" }, method: :delete %></p>

