<h1>Listing imagen_articulos</h1>

<table>
  <thead>
    <tr>
      <th>Imagen</th>
      <th>Nombre articulo</th>
      <th>Modelo articulo</th>
      <th>Laboratorio</th>
      <th>Tipo articulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imagen_articulos.each do |imagen_articulo| %>
      <tr>
        <td><%= imagen_articulo.imagen %></td>
        <td><%= imagen_articulo.nombre_articulo %></td>
        <td><%= imagen_articulo.modelo_articulo %></td>
        <td><%= imagen_articulo.laboratorio %></td>
        <td><%= imagen_articulo.tipo_articulo %></td>
        <td><%= link_to 'Show', imagen_articulo %></td>
        <td><%= link_to 'Edit', edit_imagen_articulo_path(imagen_articulo) %></td>
        <td><%= link_to 'Destroy', imagen_articulo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imagen articulo', new_imagen_articulo_path %>
