<% content_for :titulo do %>
	Préstamos abiertos del laboratorio de <%= @laboratorio.nombre %>
<% end %>

<% unless @prestamos.any? %>
<div class="alert alert-info">No se encontraron préstamos abiertos</div>
<% end %>

<table class="table table-striped table-hover">
	<thead>
	   <tr>
	      <th>Prestamista</th>
	      <th>Articulo</th>
	      <th>Fecha de prestamo</th>
	      <th>Fecha limite</th>
	      <th>Profesor encargado</th>
	      <th>Materia</th>
	      <th></th>
	   </tr>
	</thead>
	<% @prestamos.each do |p| %>
		<tr>
			<td><%= link_to p.prestamista.nombre_completo, p.prestamista%></td>
			<td><%= link_to p.articulo.nombre, p.articulo %></td>
			<td><%= p.fecha_de_prestamo %></td>
			<td><%= p.fecha_limite %></td>
			<td>
				<% unless p.profesor_encargado.nil? %>
					<%= link_to p.profesor_encargado.nombre_completo, p.profesor_encargado %>
				<% end %>
			</td>
			<td>
				<% unless p.materia.nil? %>
					<%= p.materia.nombre %>
				<% end %>
			</td>
			<td><%= button_to "Cerrar préstamo", cerrar_prestamo_path(p), class: "btn btn-primary center-block" %></td>
		</tr>
	<% end %>
</table>
