
<% content_for :titulo do %>
  <%= @articulo.nombre %><br />
  <small class="text-center"><%= @articulo.modelo %></small>

<% end %>
<div id="articulos_para_prestamo">
    <%= render 'layouts/articulos/articulos_prestamo'%>
</div>
<%= iconic_icon :edit%>
<div class="row">
    <div class="col-sm-3">
      <%= image_tag @articulo.get_imagen, class: ' thumbnail media-object img-responsive center-block'%>
        
      <% if can? :editar, @articulo %>
        <%= form_for(articulo_path(@articulo), remote: true, method: :get) do |f| %>
          <%= f.submit "Cambiar imagen", class: 'center-block btn btn-default btn-sm' %>
        <% end %>
      <% end %>
    </div>

        <div class="col-sm-9">
            <%= bootstrap_form_for @articulo do |f| %>

              <div class="row">			

                  <div class="col-sm-6"><%= f.static_control :nombre %></div>
                  <div class="col-sm-6"><%= f.static_control :modelo %></div>

              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <%= f.static_control label: "Laboratorio" do %>
                        <%= @articulo.laboratorio.nombre %>
                      <% end %>
                  </div>
                  <div class="col-sm-6">					
                      <%= f.static_control :numero_de_serie, label: "Número de serie" %>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6"><%= f.static_control :numero_de_sep, label: "Número de SEP" %></div>
                  <div class="col-sm-6"><%= f.static_control :descripcion, label: "Descripción" %></div>
              </div>


              <div class="row">
                  <div class="col-sm-6">
                      <%= f.static_control "Disponibilidad" do %>
                        <% if @articulo.disponible? %>
                          <strong class="text-success">Disponible</strong>
                        <% else %>
                          <strong class="text-danger">No disponible</strong>
                        <% end %>
                      <% end %>
                  </div>
                  <div class="col-sm-6">
                      <%= f.static_control :motivo %>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6">
                      <label>Código de barras</label>
                      <p class="form-control-static"><%= @articulo.obtener_codigo_barras%></p>
                  </div>
              </div>
            <% end %>
        </div>
    </div>

    <div class="text-center">
      <div class="form-group">
        <% if can? :editar, @articulo %>
          <%= link_to 'Modificar información del artículo', edit_articulo_path(@articulo), class: 'btn btn-default btn-sm'  %>
        <% end %>
        <% if can? :generar_codigo, @articulo %>
        	<%= link_to 'Generar código de barras', generar_codigo_path(@articulo), class: 'btn btn-default btn-sm', method: :post, target: "_blank"%>
        <% end %>
        <%= link_to 'Ver otros artículos del laboratorio de ' + @articulo.laboratorio.nombre , articulos_por_laboratorio_path(@articulo.laboratorio), class: 'btn btn-default btn-sm'  %>
	      <% if can? :descargar_reporte, @articulo %>
	      	<%= link_to articulo_path(format: :xlsx), class: 'btn btn-default btn-sm' do %>
	      		<%= fa_icon "file-excel-o", text: "Descargar reporte" %> 
	      	<% end %>
	      <% end %>
      </div>
        
      <% if @articulo.disponible? && can?(:crear, Prestamo.new(articulo: @articulo)) %>
        <%= button_to "Registrar en préstamo", agregar_articulo_prestamo_path(@articulo), class: 'btn btn-default center-block btn-xs margin-5', remote: true %>
      <% end %>
      
      

      <% if can?(:eliminar, @articulo) %>
        <%= link_to 'Eliminar este artículo', @articulo, method: :delete, data: { confirm: '¿Está seguro que desea eliminar este artículo?' }, class: 'btn btn-danger link-white' %>
      <% end %>
    </div>

<%= render "layouts/articulos/imagenes_articulo_modal" %>

